<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido to <%= title %></p>

    <p>Juan Perez</p>
    <p>12345678</p>
    <p>Sección 3</p>
  </body>
</html>
